{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/Stylesheet.css' %}">  
</head>
<body>
    <div class="row">
        <div class="column side"></div>
        <div class = "logo">
            <a href='home'>Grandpas Deck</a>
        </div>
        <div class = "Modos-de-jogo">
            <ul>
                <li><a href="standard">Standard</a></li>
                <li><a href='Singleton'>Singleton</a></li>
                <li><a href="rules">Rules</a></li>
            </ul>
        </div>
        <div class="column side">
            <a href="https://discord.gg/N6uY4ppq"><img alt="Qries" width="50" height="50" src="{% static 'css/logo.jpg' %}"></a>
        </div>
    </div>
        {% block content %}
        {% endblock %}
    <div class="footer"><ul>
        <li><a href="about">ABOUT</a></li>
    </ul></div>
    <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999)
          document.execCommand("copy");
          alert("Copied the text: " + copyText.value);
        }
        </script>
</body>
</html>