{% extends "templates/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %} Grandpas Deck {% endblock %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <main class="Caixas">
            {% block content %}
            <div class='CaixaCampeoes'>
                <h1>Champions</h1>
                {% for x in imagemCampeoes %}
                <div class="hover_img">
                    <div class='Campeoes'>
                        <img src='{{x}}' alt="image" height="300"/>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class='CaixaUnidades'>
            <h1>Followers</h1>
                {% for x in imagemUnidades %}
                <div class="hover_img">
                    <div class='Unidades'>
                        <img src='{{x}}' alt="image" height="300"/>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class='CaixaFeiticos'>
            <h1>Spells</h1>
                {% for x in imagemFeiticos %}
                <div class="hover_img">
                    <div class='Feiticos'>
                        <img src='{{x}}' alt="image" height="300"/>
                    </div>
                </div>
                {% endfor %}
            </div>
            <main class="maiscaixas">
                <div class='CaixaBotão'>
                    <button class="button" onclick= "location.href='{% url 'codigos' %}'">Duel!</button> <hr>
                    <button class="button2">
                    {% if data %}
                    {{span}}
                    {% endif %}
                    COPY DECKCODE
                </button> <hr>
                </div>
            </main>
            {% endblock %}
        </main>
    </body>
</html>
