{% extends "templates/base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %} About - Grandpas Deck {% endblock %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    {% block content %}
    <div class="header">
        
    </div>
    <div class="headerada">
            
    </div>
        <div class ="about">
        <ol>
            <li>What is Grandpas Deck?</li>
            <dd>Its a random deck generator that i made after my friend invite me to play ultimate bravery on league of legends.</dd>
            <li>What is the Standard deck?</li>
            <dd>It's a cohesive deck with a gameplan.</dd>
            <li>What is the All Random deck?</li>
            <dd>It's a deck created by an algorithm, its entirely random so its a really tough challenge to win with one of this.</dd>
            <li>What is the Singleton deck?</li>
            <dd>It's a deck created by an algorithm, it has 40 unique cards.</dd>
            <li>I want to send you my deck.</li>
            <dd>Go to Grandpas Deck discord and leave a message, i will answer asap</dd>
        </ol>
        
        </div>
    {% endblock %}
    </body>
</html>
