{% extends "templates/base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %} Rules - Grandpas Deck {% endblock %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    {% block content %}
    <div class="header">
        
    </div>
    <div class="headerada">
            
    </div>
        <div class ="about">
        <ol>
            <li>What is Granpas Deck?</li>
            <dd>Its a random deck generator that i made after my friend invite me to play ultimate bravery on league of legends.</dd>
            <li>Your site sucks, its ugly and bad!</li>
            <dd>I know, I just started learning html and programming, if you want to give suggestions or help you can go to discord and send us a message.</dd>
        </ol>
        
        </div>
    {% endblock %}
    </body>
</html>