{% extends "templates/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %} Grandpas Deck {% endblock %}
        <link rel="stylesheet" href="{% static 'css/Sytlesheet.css' %}">
    </head>
            {% block content %}
            <div class="header">
            
            </div>
            <div class="headerada">     
            </div>  
            <div class="row">
                
                <div class="column side"></div>
                <div class="column side">
                    <h1>Champions</h1>
                    {% for x in imagemCampeoes %}
                    <div class="hover_img">
                        <div class='Champions'>
                            <img src='{{x}}' alt="image" height="300"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="column middle">
                    <h1>Unidades</h1>
                    {% for x in imagemUnidades %}
                    <div class="hover_img">
                        <div class='Followers'>
                            <img src='{{x}}' alt="image" height="300"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="column side">
                    <h1>Spells</h1>
                    {% for x in imagemFeiticos %}
                    <div class="hover_img">
                        <div class='Feiticos'>
                            <img src='{{x}}' alt="image" height="300"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="column side" ">
                    <div class='CaixaBotão'>
                        <button class="button" onclick= "location.href='{% url 'AllRandom' %}'">Duel!</button>
                        <button onclick= "myFunction()" class="button2">
                        COPY DECKCODE
                        </button>
                        <input type="text" value="{% if data %}
                        {{data}}
                        {% endif %}" id="myInput" class="inputtext">
                    </div>
                    <h2>
                        All Random: you will receive a random deck with 1 to 3 copies of cards.</h2>
                </div>
                <div class="column side"></div>


            </div>           
            {% endblock %}
        </main>
</html>
