{% extends "templates/base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %} Rules - Grandpas Deck {% endblock %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    {% block content %}
    <div class="header">
        
    </div>
    <div class="headerada">
            
    </div>
        <div class ="about">
        <ol>
            <h1>Rules</h1>
            <li>This is entirely random</li>
            <dd>You will receive a random combination of regions with a random number of copies of random cards.</dd>
            <li>Trust in the hearth of the cards.</li>
            <dd>Give your best to win, don't give up your next draw will win you the match, probably</dd>
            <li>Don't change the cards.</li>
            <dd>Grandpa spent a lot of time making this deck for you, even if you think so this deck has no useless cards, just go with it.</dd>
            <li>Fun first, win second.</li>
            <dd>This is a fun challenge you are giving yourself, dont get frustrate if you lose, just go next or try a new deck.</dd>
            <li>Never use the Braum emote, ever.</li>
            <dd>Just don't</dd>
        </ol>
        
        </div>
    {% endblock %}
    </body>
</html>