{% extends "templates/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %} Grandpas Deck {% endblock %}
        <link rel="stylesheet" href="{% static 'css/Sytlesheet.css' %}">
    </head>
            {% block content %}
            <div class="header">
            
            </div>
            <div class="headerada">
                {% if nomedeck %}
            <h1>{{nomedeck}}</h1>
            {% endif %}     
            </div>
            <div class="column side"></div>
            <div class="column deck">
                {% if guiadeck %}
                <h1>{{guiadeck}}</h1>
                {% endif %}     
            </div>
            <div class="row">
                <div class="column side"></div>
                <div class="column side">
                    {% if carta1 %}
                    <div class="hover_img">
                        <div class='Champions'>
                            <img src='{{carta1}}' alt="image" height="300"/>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="column middle">
                    {% if carta2 %}
                    <div class="hover_img">
                        <div class='Follower'>
                            <img src='{{carta2}}' alt="image" height="300"/>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="column side">
                    {% if carta3 %}
                    <div class="hover_img">
                        <div class='Spells'>
                            <img src='{{carta3}}' alt="image" height="300"/>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="column side" ">
                    <div class='CaixaBotão'>
                        <button class="button" onclick= "location.href='{% url 'Standard' %}'">Duel!</button>
                        <button onclick= "myFunction()" class="button2">
                        COPY DECKCODE
                        </button>
                        <input type="text" value="{% if codigodeck %}
                        {{codigodeck}}
                        {% endif %}" id="myInput" class="inputtext">
                    </div>
                </div>
                <div class="column side"></div> 
            </div>
            {% endblock %}
        </main>
</html>
